<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="transactionTemplate" abstract="true" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"><ref bean="transactionManager"/></property>
		<property name="transactionAttributes">
			<props>
				<prop key="load*">PROPAGATION_REQUIRED, -Exception</prop>
				<prop key="login*">PROPAGATION_REQUIRED, -Exception</prop>
				<prop key="create*">PROPAGATION_REQUIRED, -Exception</prop>
				<prop key="insert*">PROPAGATION_REQUIRED, -Exception</prop>
				<prop key="increase*">PROPAGATION_REQUIRED, -Exception</prop>
				<prop key="update*">PROPAGATION_REQUIRED, -Exception</prop>
				<prop key="save*">PROPAGATION_REQUIRED, -Exception</prop>
				<prop key="delete*">PROPAGATION_REQUIRED, -Exception</prop>
				<prop key="register*">PROPAGATION_REQUIRED, -Exception</prop>
				<prop key="change*">PROPAGATION_REQUIRED, -Exception</prop>
				<prop key="remove*">PROPAGATION_REQUIRED, -Exception</prop>
				<prop key="execute*">PROPAGATION_REQUIRED, -Exception</prop>
				<prop key="*">PROPAGATION_REQUIRED, readOnly</prop>
			</props>
		</property>
		<property name="preInterceptors">
			<list>	
				<ref bean="theTracingBeforeAdvisor"/>			
			</list>
		</property>
		<property name="postInterceptors">
			<list>
				<ref bean="theTracingAfterAdvisor"/>		
				<ref bean="theTracingExceptionsAdvisor"/>
			</list>
		</property>		
	</bean>
	
	<bean id="commonServiceTarget" class="com.oyou.domain.blog.CommonServiceImpl">
		<property name="blogDAO">
			<ref bean="blogDAO"/>
		</property>
		<property name="commonDAO">
			<ref bean="commonDAO"/>
		</property>
		<property name="userDAO">
			<ref bean="userDAO"/>
		</property>
	</bean>
	<bean id="commonService" parent="transactionTemplate">
		<property name="target"><ref bean="commonServiceTarget"/></property>
	</bean>

	<bean id="blogServiceTarget" class="com.oyou.domain.blog.BlogServiceImpl">
		<property name="blogDAO">
			<ref bean="blogDAO"/>
		</property>
	</bean>
	<bean id="blogService" parent="transactionTemplate">
		<property name="target"><ref bean="blogServiceTarget"/></property>
	</bean>

	<bean id="userServiceTarget" class="com.oyou.domain.blog.BlogUserServiceImpl">
		<property name="userDAO">
			<ref bean="userDAO"/>
		</property>
		<property name="emailManager">
			<ref bean="emailManager"/>
		</property>
		<property name="blogService">
			<ref bean="blogService"/>
		</property>
	</bean>
	<bean id="userService" parent="transactionTemplate">
		<property name="target"><ref bean="userServiceTarget"/></property>
	</bean>
	
</beans>
