.testClass {
	background-color:red;
} 

.jquerycssmenu {
	font: bold 12px Verdana;
	border-bottom: 1px solid black;
	padding-left: 15px; /*offset of tabs relative to browser left edge*/
}

.jquerycssmenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/*Top level list items*/
.jquerycssmenu ul li {
	position: relative;
	display: inline;
	float: left;
}

/*Top level menu link items style*/
.jquerycssmenu ul li a {
	border-left: 1px solid #778;
	border-right: 1px solid #778;
	border-top: 1px solid #778;
	border-bottom: 1px solid #778;
	display: block;
	background: url(../images/tintblue.gif) repeat-x top center;
	/*background of tabs (default state)*/
	margin-right: 6px; /*spacing between tabs*/
	color: #2d2b2b;
	text-decoration: none;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 5px;
	padding-bottom: 4px
}

.jquerycssmenu ul li a:hover {
	background-image: url(../images/tintbluedark.gif)
	/*tab link background during hover state*/
}

/*1st sub level menu*/
.jquerycssmenu ul li ul {
	position: absolute;
	left: 0;
	display: block;
	visibility: hidden;
	border-top: 1px solid black;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.jquerycssmenu ul li ul li {
	display: list-item;
	float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.jquerycssmenu ul li ul li ul {
	top: 0;
}

/* Sub level menu links style */
.jquerycssmenu ul li ul li a {
	font: normal 13px Verdana;
	width: 160px; /*width of sub menus*/
	background: white;
	color: black;
	padding: 4px 5px;
	margin: 0;
	border-top-width: 0;
	border-bottom: 1px solid black;
}

.jquerycssmenu ul li ul li a:hover { /*sub menus hover style*/
	background: #eff9ff;
	color: black;
}

/* ######### CSS classes applied to down and right arrow images  ######### */
.downarrowclass {
	position: absolute;
	top: 7px;
	right: 5px;
}

.rightarrowclass {
	position: absolute;
	top: 5px;
	right: 5px;
}

/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */
.animatedtabs {
	border-bottom: 1px solid gray;
	overflow: hidden;
	width: 100%;
	font-size: 14px; /*font of menu text*/
}

.animatedtabs ul {
	list-style-type: none;
	margin: 0;
	margin-left: 10px; /*offset of first tab relative to page left edge*/
	padding: 0;
}

.animatedtabs li {
	float: left;
	margin: 0;
	padding: 0;
}

.animatedtabs a {
	float: left;
	position: relative;
	top: 5px;
	/* 1) Number of pixels to protrude up for selected tab. Should equal (3) MINUS (2) below */
	background: url(../images/tab-blue-left.gif) no-repeat left top;
	margin: 0;
	margin-right: 3px; /*Spacing between each tab*/
	padding: 0 0 0 9px;
	text-decoration: none;
}

.animatedtabs a span {
	float: left;
	position: relative;
	display: block;
	background: url(../images/tab-blue-right.gif) no-repeat right top;
	padding: 5px 14px 3px 5px;
	/* 2) Padding within each tab. The 3rd value, or 3px, should equal (1) MINUS (3) */
	font-weight: bold;
	color: black;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
.animatedtabs a span {
	float: none;
}

/* End IE5-Mac hack */
.animatedtabs .selected a {
	background-position: 0 -125px;
	top: 0;
}

.animatedtabs .selected a span {
	background-position: 100% -125px;
	color: black;
	padding-bottom: 8px;
	/* 3) Bottom padding of selected tab. Should equal (1) PLUS (2) above */
	top: 0;
}

.animatedtabs a:hover {
	background-position: 0% -125px;
	top: 0;
}

.animatedtabs a:hover span {
	background-position: 100% -125px;
	padding-bottom: 8px;
	/* 3) Bottom padding of selected tab. Should equal (1) PLUS (2) above */
	top: 0;
}
