
@media Print    
{
BODY {
	FONT: 62.5% Verdana, Helvetica, Arial, sans-serif; COLOR: #000; BACKGROUND-COLOR: #fff; TEXT-ALIGN: left
}
#navbar {
	DISPLAY: none
}
#banner {
	DISPLAY: none
}
UL .menu {
	DISPLAY: none
}
#tab_menu_services {
	DISPLAY: none
}
#left_column {
	DISPLAY: none
}
#homemenu {
	DISPLAY: none
}
#explore {
	DISPLAY: none
}
#contacts {
	DISPLAY: none
}
.leftnav {
	DISPLAY: none
}
.leftnav H2 {
	DISPLAY: none
}
.leftnav .header {
	DISPLAY: none
}
.pageFind {
	DISPLAY: none
}
.more {
	DISPLAY: none
}
.spacerTop {
	DISPLAY: none
}
.promo {
	DISPLAY: none
}
.small {
	DISPLAY: none
}
.thick {
	DISPLAY: none
}
.leftnav .menu {
	DISPLAY: none
}
.row IMG {
	DISPLAY: none
}
#left_navigation {
	DISPLAY: none
}
#tcu {
	DISPLAY: none
}
IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
H1 {
	MARGIN-TOP: 2em; FONT-SIZE: 1.6em; TEXT-ALIGN: left
}
H2 {
	FONT-SIZE: 1.4em
}
A {
	COLOR: #000000; TEXT-DECORATION: none
}
#arc {
	BACKGROUND: url(/graphics/tcu/ministry_header.gif); WIDTH: 100%; HEIGHT: 36px
}
#arcf {
	BACKGROUND: url(/graphics/tcu/ministry_headerf.gif); WIDTH: 100%; HEIGHT: 36px
}
#arc FORM {
	DISPLAY: none
}
#arcf FORM {
	DISPLAY: none
}
#wrapper {
	WIDTH: 100%
}
TABLE {
	WIDTH: 100%
}
#header {
	WIDTH: 100%
}
#header1 {
	WIDTH: 100%
}
#header IMG {
	MARGIN: 0px 10px
}
#right_column {
	FONT-SIZE: 1.4em; MARGIN: 0px 10px; WIDTH: 95%; LINE-HEIGHT: 1.4em
}
#footer {
	MARGIN-TOP: 2em; WIDTH: 100%
}
#full_footer {
	BORDER-TOP: #666 1px solid; WIDTH: 100%
}
#footer P.left {
	DISPLAY: none
}
#footer P {
	MARGIN-TOP: 3px; FONT-WEIGHT: bold; FONT-SIZE: 1em; TEXT-TRANSFORM: uppercase; COLOR: #666; TEXT-ALIGN: left
}
#footer P A {
	FONT-SIZE: 1em; TEXT-TRANSFORM: uppercase; COLOR: #666
}
#textlinks {
	DISPLAY: none
}
#nav {
	DISPLAY: none
}
#generic {
	DISPLAY: none
}
#apprentice {
	DISPLAY: none
}
.bookmarks {
	DISPLAY: none
}
#p_actions {
	DISPLAY: none
}
.rowheader {
	VERTICAL-ALIGN: top
}

}
